/* variables */
body {
  background-color: rgb(255, 211, 218);
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "First";
  src: url(../../Assets/fonts/Lugrasimo-Regular.ttf);
}
#BarraGrid {
  display: grid;
  background-color: rgb(233, 162, 174);
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  grid-template-columns: 10% auto 11% 11% 11%;
}
#BarraGrid a {
  position: relative;
  color: black;
  text-decoration: none;
  font-family: "First";
  top: 37px;
  margin-left: 20%;
}
#BarraGrid a:hover {
  color: rgb(192, 110, 123);
  font-weight: bold;
  font-size: 18px;
}

#Titulo {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 300px;
  background-image: url(../../Assets/img/Portadas/FloresTitulo.jfif);
  background-size: cover;
  background-position: center center;
  text-align: center;
}
#Titulo h1 {
  position: relative;
  font-family: "First";
  left: 40vw;
  padding-top: 2%;
  font-size: 50px;
  color: rgb(223, 108, 127);
}
#Titulo h2 {
  position: relative;
  left: 24vw;
  padding-top: 6%;
  font-family: "First";
  font-size: 30px;
  color: rgb(223, 108, 127);
}

#CatalogoTitulo {
  padding-top: 45px;
  padding-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../Assets/img/Portadas/PortadaCatalogo.jfif);
  background-size: 100%;
}
#CatalogoTitulo h1 {
  font-family: "First";
  color: rgb(223, 108, 127);
  text-align: center;
  font-size: 100px;
}
#CatalogoTitulo h2 {
  position: relative;
  color: rgb(223, 108, 127);
  top: 5%;
  text-align: center;
  font-family: "First";
  font-size: 35px;
}

#inclusiones {
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  border: solid;
  border-color: rgb(223, 108, 127);
}
#inclusiones h2 {
  color: rgb(223, 108, 127);
  font-family: "First";
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

#TextoInclusiones {
  width: 60vw;
}
#TextoInclusiones p {
  color: rgb(223, 108, 127);
  font-size: 30px;
  text-align: center;
  padding-right: 20px;
}

#InclusionesImg {
  width: 40vw;
}
#InclusionesImg img {
  padding-top: 30px;
  width: 95%;
  height: 90%;
}

#OferubiFather {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
#OferubiFather section {
  width: 50%;
  border: solid;
  border-color: rgb(223, 108, 127);
}
#OferubiFather section h2 {
  text-align: center;
  font-family: "First";
  font-size: 50px;
  color: rgb(223, 108, 127);
}

#Ofertas #OfertaPortada {
  width: 70%;
  height: 45%;
  margin-left: 15%;
}
#Ofertas p {
  color: rgb(223, 108, 127);
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#Mapa {
  width: 80%;
  height: 60%;
  margin-left: 12%;
}

#Pie {
  background-color: black;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
}

#InteriorPie {
  background-image: url(../../Assets/img/Portadas/PortadaFinal.jfif);
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: rgb(223, 108, 127);
  height: 50px;
  font-size: 55px;
  padding: 350px 0;
}
#InteriorPie a {
  text-decoration: none;
  color: black;
}
#InteriorPie a:hover {
  color: rgb(192, 110, 123);
  font-weight: bold;
  font-size: 60px;
}

#TituloVelas {
  color: rgb(223, 108, 127);
  font-family: "First";
  font-size: 40px;
  position: relative;
  text-align: center;
}

#VelasFather {
  display: flex;
  flex-flow: row nowrap;
}

#VelasFather section {
  width: 30%;
  border: solid;
  border-color: rgb(223, 108, 127);
  margin-left: 10px;
  margin-right: auto;
}

#VelasFather img {
  width: 60%;
  height: 350px;
  margin-left: 20%;
  margin-top: 20px;
}

#VelasFather h3 {
  text-align: center;
  color: rgb(223, 108, 127);
  font-size: 30px;
}

#VelasFather p {
  text-align: center;
  color: rgb(223, 108, 127);
  margin-left: 10px;
  margin-right: auto;
  font-size: 25px;
}

.MainSessionBox {
  border: solid;
  border-color: rgb(223, 108, 127);
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100vh;
  height: 500px;
}

.MainSessionBox h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(223, 108, 127);
}

.MainSessionBox h2 {
  font-size: 30px;
  color: rgb(223, 108, 127);
}

.MainSessionBox form {
  text-align: center;
}

.MainSessionBox #Mantener {
  position: relative;
  margin-bottom: 50px;
}

.MainSessionBox .SessionRest {
  text-align: center;
  font-size: 20px;
}

.MainSessionBox #ForgetPass {
  position: relative;
  font-size: 20px;
  left: 40%;
}

.MainSessionBox #Register {
  position: relative;
  font-size: 20px;
  left: 45%;
}

#RedesTitulo {
  text-align: center;
  font-size: 100px;
  color: rgb(223, 108, 127);
}

.ButtonsRedes {
  position: relative;
  left: 10%;
  width: 80%;
  height: 700px;
  display: flex;
  flex-flow: column nowrap;
}

.ButtonsRedes a {
  border: solid;
  height: 33%;
  margin-top: 20px;
  font-size: 100px;
  text-decoration: none;
  color: rgb(223, 108, 127);
  text-align: center;
  padding-top: 2.5%;
}

#TituloCarrito {
  color: rgb(223, 108, 127);
  font-size: 70px;
  text-align: center;
}

.MainContainerCarrito {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin-left: 10%;
  height: 800px;
  border: solid;
  border-color: rgb(223, 108, 127);
}

.MainContainerCarrito .MainBox {
  width: 80%;
  height: 20%;
  margin-left: 10%;
}

.Box1 {
  border: solid;
  border-color: rgb(223, 108, 127);
  margin-top: 100px;
  display: grid;
  grid-template-areas: "Foto ValorUni ValorTotal Cantidad";
}

.Box1 .Foto {
  grid-area: Foto;
  height: 100%;
  background-image: url(../../Assets/img/Catalogo/Vela2.jfif);
  background-position: center center;
  background-size: cover;
}

.Box1 .ValorUni {
  grid-area: ValorUni;
}

.Box .ValorTotal {
  grid-area: ValorTotal;
}

.Box1 .Cantidad {
  grid-area: Cantidad;
}

.Box1 h2 {
  position: relative;
  color: black;
  font-size: 25px;
}

.Box1 .Valor1 {
  left: 35%;
  top: 15%;
}

.Box1 .Precio1 {
  left: 40.5%;
  top: 15%;
}

.Cantidad input {
  position: relative;
  width: 10%;
  left: 43%;
  top: 10%;
}

.Box2 {
  border: solid;
  border-color: rgb(223, 108, 127);
  margin-top: 100px;
  display: grid;
  grid-template-areas: "Foto ValorUni ValorTotal Cantidad";
}

.Box2 .Foto {
  grid-area: Foto;
  height: 100%;
  background-image: url(../../Assets/img/Catalogo/Vela3.jfif);
  background-position: center center;
  background-size: cover;
}

.Box2 .ValorUni {
  grid-area: ValorUni;
}

.Box2 .ValorTotal {
  grid-area: ValorTotal;
}

.Box2 .Cantidad {
  grid-area: Cantidad;
}

.Box2 h2 {
  position: relative;
  color: black;
  font-size: 25px;
}

.Box2 .Valor1 {
  left: 35%;
  top: 15%;
}

.Box2 .Precio1 {
  left: 40.5%;
  top: 15%;
}

.Cantidad input {
  position: relative;
  width: 10%;
  left: 43%;
  top: 10%;
}

.Box3 input {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  font-size: 20px;
  color: white;
  width: 200px;
  height: 50px;
  position: relative;
  left: 40%;
  top: 35%;
}

.Box3 {
  border: none;
}

/* responsive */
.navbar-nav {
  position: relative;
  left: 85%;
}

.container-fluid {
  background-color: rgb(233, 162, 174);
  padding-bottom: px;
}

.navbar {
  background-color: rgb(233, 162, 174);
}

.navbar a:hover {
  color: rgb(192, 110, 123);
  font-weight: bold;
  font-size: 25px;
}

.navbar-nav a:hover {
  color: rgb(192, 110, 123);
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 480px) {
  .MainContainerCarrito {
    height: 90vh;
  }
  .Box1 {
    grid-template-areas: "Foto Foto ValorUni ValorTotal" "Foto Foto Cantidad Cantidad";
  }
  .Box1 .Foto {
    height: 97.5%;
    width: 100px;
  }
  .Box1 .Valor1 {
    position: relative;
    font-size: 15px;
    left: 10px;
  }
  .Box1 .Precio1 {
    position: relative;
    font-size: 15px;
    left: 20px;
  }
  .Box1 .Cantidad {
    position: relative;
    left: 50px;
    top: -10px;
  }
  .Box1 .ValorTotal {
    margin-right: 10px;
  }
  .Box1 input {
    position: relative;
    left: 20px;
    width: 20%;
  }
  .Box2 {
    grid-template-areas: "Foto Foto ValorUni ValorTotal" "Foto Foto Cantidad Cantidad";
  }
  .Box2 .Foto {
    height: 97.5%;
    width: 100px;
  }
  .Box2 .Valor1 {
    position: relative;
    font-size: 15px;
    left: 10px;
  }
  .Box2 .Precio1 {
    position: relative;
    font-size: 15px;
    left: 20px;
  }
  .Box2 .Cantidad {
    position: relative;
    left: 50px;
    top: -10px;
  }
  .Box2 .ValorTotal {
    margin-right: 10px;
  }
  .Box2 input {
    position: relative;
    left: 20px;
    width: 20%;
  }
  .Box3 input {
    position: relative;
    left: 40px;
  }
}
@media (max-width: 480px) {
  .ButtonsRedes a {
    font-size: 50px;
  }
}
@media (max-width: 490px) {
  #VelasFather {
    flex-flow: row wrap;
  }
  #VelasFather section {
    width: 90%;
    margin-bottom: 10px;
  }
  #CatalogoTitulo h2 {
    margin-top: 40px;
  }
}
#Articulos {
  color: rgb(223, 108, 127);
  font-family: "First";
  font-size: 40px;
  position: relative;
  text-align: center;
}

#ArticlesFather {
  display: flex;
  flex-flow: row nowrap;
}

#ArticlesFather section {
  width: 30%;
  margin-left: 10px;
  margin-right: auto;
  border: solid;
  border-color: rgb(223, 108, 127);
}

#ArticlesFather img {
  width: 60%;
  height: 350px;
  margin-left: 20%;
  margin-top: 20px;
}

#ArticlesFather h3 {
  text-align: center;
  color: rgb(223, 108, 127);
  font-size: 30px;
}

#ArticlesFather p {
  text-align: center;
  color: rgb(223, 108, 127);
  margin-left: 10px;
  margin-right: auto;
  font-size: 25px;
}

@media (max-width: 480px) {
  #ArticlesFather {
    flex-flow: row wrap;
  }
  #ArticlesFather section {
    width: 90%;
    margin-bottom: 10px;
  }
}
#OfertasC h2 {
  color: rgb(223, 108, 127);
  font-family: "First";
  font-size: 40px;
  position: relative;
  left: 43%;
  margin-bottom: -5px;
}

#OfertasC h3 {
  color: rgb(223, 108, 127);
  font-family: "First";
  font-size: 20px;
  position: relative;
  left: 40%;
}

#OffersFather {
  display: flex;
  flex-flow: row nowrap;
}

#OffersFather section {
  width: 40%;
  border: solid;
  border-color: rgb(223, 108, 127);
  margin-left: 100px;
  margin-right: auto;
}

#OffersFather img {
  width: 50%;
  height: 350px;
  margin-left: 28%;
  margin-top: 20px;
}

#OffersFather p {
  text-align: center;
  color: rgb(223, 108, 127);
  margin-left: 10px;
  margin-right: auto;
  font-size: 25px;
}

@media (max-width: 480px) {
  #Titulo h1 {
    left: 15vw;
    font-size: 50px;
    padding-bottom: 0px;
    margin-top: 50px;
  }
  #Titulo h2 {
    left: 12vw;
    margin-bottom: 200px;
  }
  #inclusiones {
    flex-flow: row wrap;
  }
  #InclusionesSec {
    width: 100%;
    height: 10%;
  }
  #TextoInclusiones {
    width: 100%;
    height: 40%;
  }
  #TextoInclusiones p {
    font-size: 20px;
  }
  #InclusionesImg {
    width: 100%;
    height: 50%;
    margin-top: 220px;
    margin-left: 20px;
  }
  #OferubiFather {
    flex-flow: column wrap;
    width: 100%;
    height: 80%;
  }
  #OferubiFather #Ofertas {
    width: 100vw;
    height: 15%;
  }
  #Ofertas h2 {
    margin-top: 10px;
  }
  #Ofertas p {
    font-size: 25px;
  }
  #OferubiFather #Ubicacion {
    width: 100%;
    height: 50%;
  }
  #Ubicacion h2 {
    margin-top: 20px;
  }
  #OferubiFather #Mapa {
    width: 350px;
    height: 450px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  #BarraGrid {
    grid-template-columns: auto auto auto auto auto;
  }
  #BarraGrid a {
    font-size: 10px;
    text-align: center;
  }
}
@media (max-width: 490px) {
  #OffersFather {
    flex-flow: row wrap;
  }
  #OffersFather section {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #OfertasC h2 {
    position: relative;
    left: 0%;
    margin-left: 140px;
    margin-right: auto;
  }
  #OfertasC h3 {
    position: relative;
    left: 0%;
    margin-left: 80px;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  #CatalogoTitulo h1 {
    font-size: 50px;
  }
  #CatalogoTitulo h2 {
    top: -40px;
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .MainSessionBox {
    position: absolute;
    left: 17%;
    top: 15%;
    width: 30vh;
    height: 550px;
  }
  .MainSessionBox #ForgetPass {
    position: relative;
    font-size: 20px;
    left: 20%;
  }
  .MainSessionBox #Register {
    position: relative;
    font-size: 20px;
    left: 35%;
  }
}

/*# sourceMappingURL=styles.css.map */
